# Dependency directory
node_modules

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Certificates
*.crt
*.pem

# Editor
.DS_Store
*.swp
.idea
.vscode

# Environment files
.env
*.env.*
!.env.template

# Coverage directory used by tools like istanbul
coverage
results.xml
